---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import GraphView from "@/components/GraphView.astro";
---

<Layout title="Grafo">
  <Header />
  <main>
    <GraphView />
  </main>
  <Footer />
</Layout>