 ---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <main id="main-content" data-layout="index">
        <section id="hero" class="pt-1 pb-3 sm:pb-6">


      <h1 class="my-4 inline-block text-[43.2px] font-bold sm:my-8 sm:text-6xl" style="font-family: var(--font-inter); color: var(--title); line-height: 1.05;">
        <span class="block text-[46.8px] sm:text-[64px]">Blog di</span>Antonio Vigilante.
      </h1>

<div class="home-text">
  <p>Dove si parla di filosofia e di educazione, di anarchismo e di nonviolenza, di ateismo e di buddhismo: di inquietudini e di attraversamenti.</p>
</div>



    </section>

{
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-2 pb-6 sm:pt-4">
          <ul>
            {recentPosts.slice(0, SITE.postPerIndex).map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }


    

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        Tutti i post <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>

  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
