---
---

<header class="bg-[#fafafa]">
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
  >
    Skip to content
  </a>

  <!-- Logo + menu -->
  <div class="border-b border-border">
    <div class="mx-auto flex max-w-[71.25rem] items-center justify-between px-4 py-6 sm:px-6">
      <a
        href="/"
        class="font-bold"
        style="font-family: var(--font-inter); color: var(--title); font-size: 1.65rem;"
      >
        Odnikud
      </a>
      <p class="max-w-sm text-right text-sm text-foreground/70">
        "Ricordati che non è un disonore smarrirsi nell'immensa foresta della
        vita." — Janusz Korczak
      </p>
    </div>
  </div>
</header>
